@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import './base.css';
@import "tailwindcss";

@theme {
  --font-gabarito: "Gabarito", sans-serif;

}

.font-gabarito-bold {
  font-family: var(--font-gabarito);
  font-weight: 700;
}

.color-primary-text {
  @apply text-[#6BADD7];
}

.button-primary{
  @apply bg-[#4AC1BD] px-[16px] py-[8px] rounded-lg text-white shadow-[#25A49F] shadow-md
}

@media (max-width: 640px) {
  body {
    @apply flex min-h-screen  justify-center;
  }

  #app {
    @apply w-full mx-auto px-0;
  }

  /* Mobile specific adjustments */
  .button-primary {
    @apply text-sm;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
